body{
    margin: 0;
    padding: 0;
}
/* ------------------------------ Nav for how we roll ------------------------------ */
.nav{
    background-color: lightgray;
}
.nav h4{
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
    text-align: center;
    background-image: linear-gradient(to left, #e73a0e, #040405);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.navA{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 25px;
    width: 70%;
    margin: auto;
}
.navA a{
    text-decoration: none;
    font-size: 18px;
    color: #810b22;
    border-bottom: 3px solid #810b22;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* --------------------------------- Styling for How we roll HTML siden--------------------------------- */
section{
    padding: 1em 0 !important;
}
#spmlDiv{
    max-width: 715px;
    width: 100%;
    background: #fff;
    margin: 20px auto;
    padding: 30px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}
#spmlDiv form section{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
}
#spmlDiv form section :first-child {
    direction: rtl;
}
#spmlDiv h4{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #f44336;
    text-transform: uppercase;
    text-align: center;
}
#spmlDiv button{
    width: 100%;
    padding: 8px 10px;
    margin-top: 15px;
    font-size: 15px;
    border: 0;
    background: #f44336;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}
body#page2{
    background-color:#ccc;

}
.results{
    width: 70%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
}
.results pre{
    font-family: "Comic Sans MS", "Comic Sans"; /* Veldig nødvendig AS requested by Trym */
    background-color: white;
}

/* --------------------------------- Styling for Results HTML Siden --------------------------------- */
#innhold{
    margin: auto;
    width: 70%;
    border-top: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
    margin-top: 50px;
    padding-bottom: 30px;
}
/* --------------------------------- Stling for Index HTML siden --------------------------------- */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    max-width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/University\ in\ Agder.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
    border-bottom: 3px solid #000000;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;

}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
    
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box h2{
    font-size: 20px;
    margin: 10px 0 40px;
    color: #fff;
}
span{
    color: #f44336;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    padding: 12px 34px;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    border: 1px solid #fff;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    background: #f44336;
    border: 1px solid #f44336;
    transition: 1s;
}


@media(max-width: 700px){
    .text-box h1{
        font-size: 25px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;

    }
}

/* Assignments */
.Assignments{
    max-width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.Assignments h1{
    border-bottom: 1px solid #f44336;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    font-size: 14px;
    color: #777;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.Assignments-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;

}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;

}
.Assignments-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
    .Assignments-col{
        margin-bottom: 20px;
    }
}

/* Meet the Team */
.GroupCV{
    max-width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.GroupCV h1{
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    padding-top: 100px;
    border-bottom: 1px solid #f44336;
}
.row2 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    text-align: center;
 }
.column {
    width: 350px;
    margin: auto;
    text-align: center;
    padding: 20px 12px;
    margin-bottom: 2%;
    justify-content: repeat(3, 1fr);
    box-sizing: border-box;
  }
.card {
    box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.1);
    padding: 3.5em 1em;
    border-radius: 0.6em;
    color: #1f003b;
    cursor: pointer;
    transition: 0.3s;
    background-color: #ffffff;
    box-sizing: border-box;
}
.card .img-container {
    width: 8em;
    height: 8em;
    background-color: #f44336;
    padding: 0.5em;
    border-radius: 50%;
    margin: 0 auto 2em auto;
}
.card img {
    width: 100%;
    border-radius: 50%;
}
.card h3 {
    font-weight: 500;
}
.card p {
    font-weight: 300;
    text-transform: uppercase;
    margin: 0.5em 0 2em 0;
    letter-spacing: 2px;
}
.icons {
    width: 50%;
    min-width: 180px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.card a {
    text-decoration: none;
    color: inherit;
    font-size: 1.4em;
}
.card:hover {
    background: linear-gradient(#f44336, #fff3f3);
    color: #ffffff;
    cursor: default;
}
.icons a i:hover{
    color: #f44336;
}
.card:hover .img-container {
    transform: scale(1.15);
}
@media screen and (min-width: 768px) {
    section {
      padding: 1em 7em;
    }
  }
@media screen and (min-width: 992px) {
    section {
      padding: 1em;
    }
    .card {
      padding: 5em 1em;
    }
    .column {
      flex: 0 0 33.33%;
      max-width: 33.33%;
      padding: 0 1em;
    }
}

#footer{
    max-width: 100%;
    height: 150px;
    background-color: #ec0030;
    display: flex;
    justify-content: center;
    box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 0;
    margin: 0 !important;
}
#footerFlex{
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #ffffff;
    font-size: 2em;
}
#footerFlex a{
    height: 150px;
}
#footerFlex a img{
    width: 200px;
}
#footerFlex div{
    padding-top: 45px;
    padding-right: 30px;
}

@media screen and (max-width: 500px) {
    #footerFlex{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #footer{
        height: 300px;
    }
}